streamlit
scikit-learn
spacy>=3.7.2,<3.8.0
thinc>=8.2.0,<8.3.0
blis>=0.7.11,<0.8.0
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl